{
  "env": {
    "browser": true
  },
  
  "extends": "airbnb",

  "rules": {
    "prefer-destructuring": 0,
    "no-console": 0,
    "no-undef": 0,
    "func-names": 0,
    "no-restricted-globals": 0,
    "object-shorthand": 0,
    "no-param-reassign": 0,
    "consistent-return": 0,
    "no-underscore-dangle": 0,
    "one-var": 0,
    "max-len": 0,
    "no-use-before-define": 0,
    "prefer-arrow-callback": 0
  },

  "parser": "babel-eslint"
}