nav.nav-bar-col
  .nav-container
    img.logo(src="/img/gem-logo-blk.png" alt="Grand Egyptioan Museum")
    ul
      if (user)
        li
          a.nav(href="/collections") Collection List
        if (user.role === "Admin")
          li
            a.nav(href="/contacts") Contact List
          li
            a.nav(href="/employees") Employee List