nav.nav-bar-hor
  .nav-logo-hor
    .left
      a(href="/")
        img.nav-logo(src="/img/home.png" alt="Home")
      if (user)
        a.grey Welcome, #{user.firstname} (#{user.role}) last login: #{moment(user.lastLogin).format('lll')}
    .right
      a(href="/employees/logout")
        img.nav-logo(src="/img/logout.png" alt="Logout") 
      a(href="/references")
        img.nav-logo(src="/img/research.png" alt="References")
