extends layout

block content
  h3 References:
  ul
    li
      a.left(href="https://en.wikipedia.org/wiki/Collections_management_(museum)") 
        img.icon(src="/img/link.png" alt="Link")
        | CMS Wiki 
    li
      a.left(href="https://www.behance.net/gallery/26501779/Branding-The-Grand-Egyptian-Museum") 
        img.icon(src="/img/link.png" alt="Link") 
        | Grand Egyptian Museum logo
    li
      a.left(href="http://www.globalegyptianmuseum.org/") 
        img.icon(src="/img/link.png" alt="Link")
        | Global Egyptian Museum Database
    li
      a.left(href="http://grelas.com/") 
        img.icon(src="/img/link.png" alt="Link")
        | UI design
    li
      a.left(href="https://www.flaticon.com/") 
        img.icon(src="/img/link.png" alt="Link")
        | Icons
//- http://326gtd123dbk1xdkdm489u1q.wpengine.netdna-cdn.com/wp-content/uploads/2016/11/spectrum_4_03.pdf
