extends layout

block content
  h1 New Employee Signup
  form(action='/signup' method="POST")
    label Username
    br
    input(name="username" type="text")
    br
    label Name
    br
    input(name="name" placeholder="firstname lastname" type="text")
    br
    label Email
    br
    input(name="email" type="email")
    br
    label Address
    br
    input(name="addrNum" placeholder="Street No." type="number")
    input(name="addrSt" placeholder="Street Name" type="text")
    br
    input(name="addrCity" placeholder="City" type="text")
    input(name="addrProv" placeholder="Province" type="text")
    br
    input(name="addrCountry" placeholder="Country" type="text")
    input(name="zip" placeholder="Zip" type="text")
    br
    label Phone
    br
    input(name="phone" type="text")
    br
    label Roles
    br
    each val in ["Admin", "Inspector"]
      label #[input(type="radio" name="roles" value=val)] #{val}
      br
    label Password
    br
    input(name="password" placeholder="password" type="password")
    br
    label Confirm Password
    br
    input(name="confirmPassword" placeholder="password" type="password")
    br
    input(type='submit', value="Signup")

  a(href="/login") Already have an account? Hit me..